body{
    font-family: 'Thasadith','Roboto', sans-serif;
    font-size: 16px;
    color: white;
    line-height: 1.35;    
    padding: 0px 0px;
    margin: 0px;
/* Created with https://www.css-gradient.com */
    background: rgb(45, 45, 45);
    background: -webkit-radial-gradient(top left, rgba(85, 85, 85, 1.0), rgba(29, 31, 32, 1.0));
    background: -moz-radial-gradient(top left, rgba(85, 85, 85, 1.0), rgba(29, 31, 32, 1.0));
    background: radial-gradient(to bottom right, rgba(85, 85, 85, 1.0), rgba(29, 31, 32, 1.0));
}

header{
    background-color: black;
    color: aliceblue;
    padding: 0px 0px 5px 0px;
    height: 85px;
    width: 100%;
    border-bottom: #cecece 3px soild;
    margin-top: 0px;
    float: left;

}

header .container1 .explore{
    color: #cea135;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 0px;
    position: relative;
    top: 28px;
}

header a{ 
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
}
header li{
    float: left;
    display: inline;
    padding: 0px 20px 0px 0px;
    text-transform: none;
}
header .highlight, header .current a{
    color:rgb(99, 99, 99);
    font-weight: bold;
    padding-top: 0px;
    position: relative;
    bottom: 15px;
}


header  #branding{
    float:left;
}

header  #branding img{
    height: 50px;
    padding-right: 20px;
    padding-top: 25px;
}

header .rightbuttons{
    float: right;
    display: inline-flex;
    color:dimgray;
    padding: 0px 0px;
}

.content{
    display:flex;
}

header .rightbuttons #Create, #Log-in, #Signup{
    padding: 0px 0px;
    position: relative;
    bottom: 66px;
    margin: 0px;
}

mark {
    color:green;
    background-color: inherit;
}


header .rightbuttons #explore{
    padding:0px 0px 0px 35px;
    position: relative;
    bottom: 55px;

}

.btn {
    background-color: #21232a;
    color: #fff;
    font-size: .53em;
    height: 55px;
    width: 120px;
    padding: 0px 0px;
    border: 1px solid #21232a;
    border-radius: 2px;
    outline: none;
    transition: 0.3s;
    margin-left: 50px;
}

.btn2 {
    background-color: #21232a;
    color: #fff;
    font-size: .53em;
    height: 55px;
    width: 100px;
    padding: 0px 0px;
    border: 1px solid #21232a;
    border-radius: 2px;
    outline: none;
    transition: 0.3s;
    margin-left: 50px;
}

.btn3 {
    background-color: #71c56d;
    color: rgb(0, 0, 0);
    font-size: larger;
    font-weight: bolder;
    font-family: 'Thasadith';
    height: 60px;
    width: 250px;
    padding: 0px;
    border: 1px solid #000000;
    border-radius: 2px;
    outline: none;
    margin-right: 10px;
}
.btn4 {
    background-color: #000;
    color:white;
    font-size: larger;
    font-weight: normal;
    font-family: 'Roboto';
    height: 60px;
    width: 200px;
    padding: 0px 0px;
    border: 1px solid #000000;
    border-radius: 2px;
    outline: none;
    }



#showcase {
    width: 100%;
    display: flex;
    justify-content: space-between;

}




.column1 {
    padding: 45px 0px 0px 20px;
    column-width: 600px;
    text-align: left;
    font-size: x-large;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}

.column1 > #P1{
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 32px;
}
.column1 > #P2{
    padding-bottom: 30px;
    padding-top: 5px;
    font-size: 26px;
}

.column2 {
    padding: 40px 0px 0px 0px;
    column-width: 600px;
    text-align: left;
    font-size: 21px;
    font-weight: bolder;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}




#Teams, #Education, #Privacy, #Writing {
    width: 360px;
    border: .33px solid #ffffff;
    padding: 0px;
    margin: .66px;
    background-color: #434a4b;
    text-align:center;
    font-family:'Thasadith';
    font-size: larger;
    font-weight: lighter;

}



#Boxes{
    display: flex;
    flex-direction: row;

}

footer{
    min-height: 80px;
}

h4 {
    display: block;
    margin-block-start: -0.46em;
    margin-block-end: -0.46em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding-top: 23px;
}

.column2 img{
    width: 600px;
}
